<% include partials/header%>

<p class="container" style="margin-top: 70px; margin-bottom: 40px">
	<div class="container editBar">
		<div id="editor-container"></div>
	</div>
</p>
<div style="padding-bottom: 20px;">
	<center>
		make this button send a post request to the mongo -->  
		<a href="/write" class="positive ui button">SUBMIT</a>
	</center>
</div>


<% include partials/footer%>